/* Black #000000, #211a10, Light Grey #cccccc, #d90416, 
Light grey #d9d9d9, Light Grey #e9e9e9, White #ffffff */

* {
    /* color: #36454F; */
    color: gray;
}

#search-box {
    margin-left: 5rem;
}

#search-submit {
    margin-left: 1rem;
}

.bi {
    margin-left: 1rem;
}

.text-center {
    width: 600px;
}

.subhead {
    margin-bottom: 3rem;
}

.bi {
    font-size: 8px;
}

.mb-3 {
    font-size: 9px;
}

.fw-bolder {
    font-size: 26px;
}

.features-section {
    color: #fff;
}

/* additions - Rod */
body {
    color: #000;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /* background-image: linear-gradient(to bottom, #000000, #c9b7b7, #c9b7b7, #c9b7b7, #c9b7b7, #c9b7b7, #afa2a2, #a7a1a1); */
}

.header {
    color: white;
    background-color: #000000;  
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    height:fit-content;
    z-index: 3;
}

/* hamburger menu */
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #000;
}

.header li a {
    color: white;
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #211a10;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
    color: #000;
}

.header .logo {
    color: white;
    display: block;
    float: left;
    font-size: 2rem;
    padding: 10px 20px;
    text-decoration: none;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 600px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

#sama-sama-store {
    font-size: 5vh;
}

#sama-store {
    color: #d90416;
}

#logo-image {
    width: 35px; /* 512 */
    height: 35px; /* 512 */
    /* margin-left: 5px; */
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    #sama-sama-store {
        font-size: 8vh;
    }

    .header .logo {
        font-size: 2rem;
    }
}

.main-content {
    /* padding: 2%; */
    margin-top: 2rem;
}

.banner {
    width: 80%;
    height: 100%;
    padding: 2rem;
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px white solid;
    border-radius: 7rem; */
}

.banner-texts {
    text-align: center;
}

.banner-buttons {
    margin-bottom: 20px;
}

.banner-buttons input,
.banner-buttons button {
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    padding: 13px;
    margin: 10px;
    color: #fff;
}

#get-started {
    border: 1px #d90416 solid;
    background: #d90416;
    cursor: pointer;
}

#learn-more {
    border: 1px #e9bcb7 solid;
    background: #e9bcb7;
    cursor: pointer;
}

/* .banner input[value*='Get Started'] {
    border: 1px #d90416 solid;
    background: #d90416;
    cursor: pointer;
} */

/* .banner input[value*='Learn More'] {
    border: 1px #e9bcb7 solid;
    background: #e9bcb7;
    cursor: pointer;
} */

input[value*='Add to cart'] {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #d90416;
    padding: 1rem;
    border: 1px transparent solid;
    border-radius: 1rem;
    cursor: pointer;
    color: #fff;
}

.some-image {
    border: 1px solid #000;
    border-radius: 20px;
    max-height: fit-content;
    width: 300px;
    margin-bottom: 1rem;
    text-align: center;
}

.some-image img {
    align-self: center;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.check-product {
    color: #d90416;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: orange;
}

footer {
    padding: 1.5rem;
    text-align: center;
    background-color: #211a10;
    margin-top:auto;
    color: #fff;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    color: #000;
}

.get-in-touch {
    align-self: center;
}

#about-body {
    background: #fff;
}

.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

.banner-about {
    align-self: center;
    width: 90%;
    height: 100%;
    padding: 40px;
    margin: 1rem;
    background-color: grey;
    /* background-image: linear-gradient(315deg, #211a10); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    border-radius: 3rem;
}

.about-main h1 {
    text-align: center;
}

.header-about {
    font-size: 4vh;
    color: #000;
    font-family: 'Playfair Display';
}

hr {
    width: 15%;
    align-items: center;
    color: #fff;
}

.body-text-about {
    padding: 2rem;
    text-align: center;
    color: #e9e9e9;
    font-size: 2vh;
    font-weight: 600;
    font-family: 'Playfair Display';
}

#other-pages {
    background-image: #c9b7b7;
}

#assistance-button {
    border-color: #d90416;
    background-color: #d90416;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
}

#about-page-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.assistance-cards {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    /* padding: 1rem; */
    cursor: pointer;
}

.assistance-cards svg {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 48em) {
    #about-page-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .assistance-cards {
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: fit-content;
        /* padding: 1rem; */
        cursor: pointer;
    }

    .assistance-cards svg {
        margin-left: auto;
        margin-right: auto;
    }
}

/* About - developers */
.developers h2{
    text-align: center;
    color: #d90416;
    margin: 2rem;
    font-size: 3vh;
    font-family: 'Playfair Display';
}

.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 57px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li button {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	
}
.tilesWrap li:hover button {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li button:hover {
	color: #262a2b;
}
.tilesWrap li button:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
	background: #C9FFBF;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
	background: #f2709c; 
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
	background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
	background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
} 
.tilesWrap li:nth-child(5):before {
	background: #FC354C;
    background: -webkit-linear-gradient(to right, #fff, #000);
    background: linear-gradient(to right, #fff, #000);
}
/* About */

/* FAQs */
.faq-main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 7rem;
}

.faq-main h1 {
    text-align: center;
    color: #d90416;
    margin: 2rem;
    font-size: 6vh;
    font-family: 'Playfair Display';
}

summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fff;
    color: #333;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
}
details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
}
details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
}
details > summary::-webkit-details-marker {
    display: none;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}
/* FAQs */

#convert-to-red {
    border: 3px #d90416 solid;
    border-radius: 1rem;
}

#convert-to-red-full {
    border: 3px #d90416 solid;
    background: #d90416;
    border-radius: 1rem;
    color: #fff;
}

#submitButton {
    background: #d90416;
    color: #fff;
}

#videoItem {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* border: 5px #d90416 solid; */
}


/* Button to go to topmost */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #d90416;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #fff;
    color: #d90416;
}

/* end additional - Rod */
