<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Sama-sama Store</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../style.css" rel="stylesheet">
    <!-- For using fontawesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
</head>
<body id="about-body">
    <!-- Header section -->
    <header class="header">
        <a href="../index.html" class="logo">Sama-sama Store</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#">Category</a></li>
            <li><a href="./assistance.html">Assistance</a></li>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="../index.html#contact-id">Contact</a></li>
            <li><a href="./FAQ.html">FAQs</a></li>
            <li><a href="#"><i class="fa fa-bell"></i></a></li>
            <li><a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
        </ul>
        <!-- </section> -->
    </header> <!-- Header section -->
    <main class="about-main">
        <section class="banner-about">
            <h1 class="header-about">About Sama-Sama Store</h1>
            <hr>
            <p class="body-text-about">
                <em>Sama-Sama Store</em> is a startup online shopping platform 
                created by students from<br /> West Visayas State University - 
                College of ICT and Central Philippine University. It is 
                dedicated to help students and people<br /> to connect with 
                products and services that can help them primarily with 
                their educational needs. Additionally, it aims to help 
                students<br /> and anyone who wishes to gain extra income by 
                selling their materials and services in this platform.
            </p>
        </section>
    </main>
    <section class="developers">
        <h2>Developers</h2>
        <ul class="tilesWrap">
            <li>
                <h2>Sudoers</h2>
                <h3>Dianne Ritz Lapasaran</h3>
                <p>
                    2nd Year Bachelor of Science in Computer Science student at West Visayas State University-Main 
                    Campus, Iloilo City.  Sa pag-aaral, ako ay serious, Pero this school year, nagmumukhang virus.
                </p>
                <a href="https://www.facebook.com/Ennaidztir.lapasaran"><button>Social</button></a>
            </li>
            <li>
                <h2>Sudoers</h2>
                <h3>Neil Clarence Diaz</h3>
                <p>
                    2nd Year Bachelor of Science in Computer Science student at West Visayas State University-Iloilo City. 
                    Isang nocturnal animal na mahilig sa Hack... Hackdawg
                </p>
                <a href="https://www.facebook.com/NeilClarenceD"><button>Social</button></a>
            </li>
            <li>
                <h2>Sudoers</h2>
                <h3>Sean Patrick Namo</h3>
                <p>
                    But also the leap into electronic typesetting, remaining essentially 
                    unchanged. It was popularised in the 1960s.
                </p>
                <a href="https://www.facebook.com/sean.namo.15"><button>Social</button></a>
            </li>
            <li>
                <h2>Sudoers</h2>
                <h3>Russel Yasol</h3>
                <p>
                    With the release of Letraset sheets containing Lorem Ipsum passages,  
                    and more recently with desktop publishing software like Aldus PageMaker 
                    including versions of Lorem Ipsum.
                </p>
                <a href="https://www.facebook.com/ameee.rus"><button>Social</button></a>
            </li>
            <li>
                <h2>Sudoers</h2>
                <h3>Rod Lester Moreno</h3>
                <p>
                    BSCS sophomore at WVSU Iloilo Main Campus. DOST-SEI and DOST-SPARTA Scholar<br />
                    Me: *Sets password to <em>fortnight</em>*<br />
                    Computer: Password is two-week!.
                </p>
                <a href="https://www.facebook.com/morenorodlester/"><button>Social</button></a>
            </li>
        </ul>
    </section>
    <footer>
    Copyright © SAMA-SAma Store 2022
    </footer>
</body>
</html>
