<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About | Sama-sama Store</title>
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../style.css" rel="stylesheet">
        <!-- For using fontawesome icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    </head>
    <body>
        <!-- Header section -->
        <header class="header">
            <a href="../index.html" class="logo">Sama-sama Store</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="#">Category</a></li>
                <li><a href="./assistance.html">Assistance</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="../index.html#contact-id">Contact</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#"><i class="fa fa-bell"></i></a></li>
                <li><a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
            </ul>
            <!-- </section> -->
        </header> <!-- Header section -->
        <main class="faq-main">
              <div class="faq-body">
                <h1>Frequently Asked Questions</h1>
                <details open>
                    <summary>What are Sama-sama Store's mission and vision</summary>
                    <div class="faq__content">
                      <p> It is dedicated to help students and people to connect with 
                        products and services that can help them primarily with 
                        their educational needs. Additionally, it aims to help 
                        students and anyone who wishes to gain extra income by 
                        selling their materials and services in this platform.</p>
                    </div>
                  </details>
                  <details>
                    <summary>Who are allowed to use the platform</summary>
                    <div class="faq__content">
                      <p>Anyone. Yes, anyone!</p>
                    </div>
                  </details>
                  <details>
                    <summary>Are my data, especially my bank credentials, safe in this platform</summary>
                    <div class="faq__content">
                      <p>Our team is dedicated to serve our customers the best we can. Although we don't yet have concrete 
                          functionality for that, we can assure you that we will serve our services with utmost safety for all your data.</p>
                    </div>
                  </details>
              </div>
        </main>
        <footer>
            Copyright © SAMA-SAma Store 2022
        </footer>
    </body>
</html>